.navbar__bottom{
    display: flex;
    padding: 8px 0 16px;
    gap: 30px;
    font-size: 14px;
    color: #555;
    overflow: auto;
    white-space: nowrap;
}
.navbar__bottom::-webkit-scrollbar{
    height: 6px;
}
.navbar__bottom::-webkit-scrollbar-thumb{
    background: #aaa;
    border-radius: 6px;
}