.sub__header{
    background: var(--bg-sy);
    padding: 8px 0;
    font-size: 15px;
}
.sub__header div{
    display: flex;
    justify-content: space-between;
}
.sub__header div p:nth-child(2){
    color: #888;
}