.main{
    background: linear-gradient(25deg, var(--bg-py), plum, dodgerblue);
}
.login__card{
    height: 530px;
    display: flex;
    justify-content: center;
}
.login__list{
    width: 370px;
    height: 440px;
    margin-top: 50px;
    border-radius: 50px;
    padding: 3% 3%;
    background: #fff;
    box-shadow: 0 0 20px #ddda, 10px 10px 30px #ddda;
}
.login__list h2{
    padding-top: 30px;
}
.sms{
    padding: 15px 0;
    color: #1F2026;
}
.login__list input{
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid #E6E8ED;
    outline: none;
    text-indent: 15px;
    font-size: 17px;
    margin-bottom: 10px;
}
.login__list button{
    width: 100%;
    height: 45px;
    border-radius: 15px;
    border: none;
    background: var(--bg-py);
    color: white;
    font-size: 16px;
    transition: .5s;
    cursor: pointer;
}
.login__list button:hover{
    background: #7000ffaa;
}
.link{
    margin-top: 50px;
    text-align: center;
    font-size: 14px;
}
.link a{
    color: dodgerblue;
}








.login__list button{
    display: block;
}