.navbar{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav__logo{
    color: var(--bg-py);
    user-select: none;
}
.nav__category{
    display: flex;
    height: 40px;
    align-items: center;
    gap: 6px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    background: #f0f0f0;
    color: var(--bg-py);
}
.nav__category svg{
    font-size: 20px;
}
.nav__search{
    height: 38px;
    border: 1px solid #ddd;
    flex: 1;
    border-radius: 4px;
    display: flex;
    /* overflow: hidden; */
    position: relative;
}
.nav__search input{
    border: none;
    outline: none;
    flex: 1;
    text-indent: 16px;
    border-radius: 4px 0 0 4px;
}
.nav__search button{
    width: 70px;
    border: none;
    font-size: 20px;
    border-radius: 0 4px 4px 0;
}
.nav__search-drop{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    max-height: 300px;
    background: #fff;
    z-index: 10;
    box-shadow: 0 0 5px #0002, 10px 10px 10px #0001;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    overflow: auto;
}
.nav__search-item{
    display: flex;
    gap: 14px;
    font-size: 14px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    line-height: 1.6;
}
.nav__search-item img{
    width: 40px;
    height: 50px;
    object-fit: cover;
}
.nav__search-item p{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.nav__search-item:last-child{
    border-bottom: none;
}
.nav__search-notDefined img{
    width: 150px;
    display: block;
    margin: 15px auto;
}
.nav__collection{
    display: flex;
    gap: 20px;
}
.nav__item a,
.nav__item{
    display: flex;
    align-items: center;
    gap: 8px;
}
.nav__item svg{
    font-size: 20px;
}
.nav__item span{
    font-size: 14px;
}
.nav__home{
    display: none;
}


























@media screen and (max-width:850px) {
    .nav__collection{
        position: fixed;
        z-index: 10;
        bottom: 0;
        left: 0;
        width: 100%;
        background: #fff;
        height: 50px;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 -5px 5px #0002;
        color: #555;
    }
    .nav__item a,
    .nav__item{
        flex-direction: column;
        gap: 0;
    }
    .nav__item a.active{
        color: var(--bg-py);
    }
    .nav__item span{
        font-size: 12px;
    }
    .nav__home{
        display: flex;
    }
}
@media screen and (max-width:600px){
    .navbar{
        height: auto;
        padding: 5px 0;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 5px;
    }
    .nav__search{
        flex: none;
        width: 100%;
    }
    .nav__search-notDefined img{
        width: 100px;
    }
}
@media screen and (max-width:400px){
    .nav__item span,
    .nav__category span{
        display: none;
    }
}